**/*.log
**/TestResults
**/appsettings.Development.json
**/bin
**/dist
**/coverage
**/node_modules
**/lcov.info
**/obj
*.jks
*.key
*.mobileprovision
*.orig.*
*.p12
*.p8
.DS_Store
.expo/
.sonarqube/**
coverage.opencover.xml
npm-debug.*
web-build/
